# SPDX-License-Identifier: CC0-1.0
# SPDX-FileCopyrightText: NONE

# KiCad 
*.bak
*.bck
*cache.lib 
*.kicad_pcb-bak
*.log
*.sch-bak
*-backups/

dcclicht.net
fp-info-cache

place_footprints.ini
place_footprints.log

# other backup files
*~
\#*#
